 @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .primary-btn{
        @apply bg-green-600 text-white px-6 py-3 rounded-full
        hover:!scale-110 hover:!shadow-xl duration-300 transition-all;

    }
}
.input {
  @apply w-full rounded-xl border px-4 py-2 text-sm
         focus:outline-none focus:ring-2 focus:ring-green-500
         dark:bg-slate-800 dark:border-slate-700 dark:text-white;
}

.error {
  @apply text-xs text-red-500 mt-1;
}
